@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

/* DEFAULT */
/* DEFAULT */

* {
	scroll-behavior: smooth;
}

body {
	background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
	color: #f1f1f1;
	font-family: 'Press Start 2P', cursive;
	padding: 10px;
	font-size: 30px;
}

#body-guerreiro {
	background: linear-gradient(to right, #3c94b1, #093f88);
}

#body-floresta-muda {
	background: linear-gradient(to right, #3ca55c, #b5ac49);
}

#body-templo-ninja {
	background: linear-gradient(to right, #333333, #dd1818);
}

a {
	color: #f1f1f1;
	text-decoration: none;
}

input {
	background: transparent;
  border-color: #f1f1f1;
	border-width: 0 0 2px;
	color: #f1f1f1;
	font-family: 'Press Start 2P', cursive;
	font-size: 25px;
	margin: 40px auto;
	outline: 0;
	padding: 7px 0px;
	text-align: center;
	transition: all .3s ease;
}

input:focus {
  border-color: #3c728a;
	transition: all .3s ease;
}

.wrapper {
	max-width: 100%;
}

.arrow {
	transform: scale(0.8);
	transition: all .3s ease;
}

.arrow:hover {
	cursor: pointer;
	transform: scale(1);
	transition: all .3s ease;
}

.container {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	position: relative;
}

.content {
	display: flex;
}

.text {
	text-align: center;
	width: 80%;
}

.box {
	border: 7px solid #f1f1f1;
	margin: 40px 30px;
	padding: 20px;
	position: relative;
	transition: all .4s ease;
}

.box:hover {
	box-shadow: 0px 0px 30px 5px rgba(241,241,241,1);
	cursor: pointer;
	-moz-box-shadow: 0px 0px 30px 5px rgba(241,241,241,1);
	transition: all .4s ease;
	-webkit-box-shadow: 0px 0px 30px 5px rgba(241,241,241,1);
}

.reset-journey {
	font-size: 11px;
	text-align: center;
}

.eu {
	animation: float .2s infinite;
}

/* HOME */
/* HOME */

.home {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	position: relative;
}

.title {
	font-size: 80px;
	margin: 10px;
	padding: 5px;
	text-align: center;
}

.home p {
	font-size: 35px;
	line-height: 38px;
	text-align: center;
	width: 60%;
}

.btn-jogar {
	border: 6px solid #f1f1f1;
	font-size: 50px;
	margin-top: 75px;
	padding: 25px 35px;
	text-align: center;
	transition: all .4s ease;
}

.btn-jogar:hover {
	background: #f1f1f1;
	color: #203a43 !important;
	cursor: pointer;
	transition: all .3s ease;
}

.logo {
	position: absolute;
	top: -135px;
	transform: scale(0.4);
}

.social-media {
	bottom: 0;
	display: flex;
	margin-bottom: 45px;
	position: absolute;
}

.fa-github-square, .fa-linkedin {
			margin: 0px 10px;
			transition: all .7s ease;
}

.fa-github-square:hover, .fa-linkedin:hover {
			cursor: pointer;
			transform: scale(1.1);
			transition: all .3s ease;
}


/* NAME */
/* NAME */

.name {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
}

/* ARMAS */
/* ARMAS */

.armas-title {
	font-size: 70px;
	margin: 10px;
	padding: 5px;
	text-align: center;
}

/* JORNADA - ESPADA  */
/* JORNADA - ESPADA */

.espada-lugar {
	margin-top: 45px;
	text-align: center;
}

/* Floresta Muda */

.morro:after {
	background-color: #f1f1f1;
	content: '';
	height: 200px;
	left: 48%;
	margin-top: 20px;
	position: absolute;
	width: 30px;
}

#areia-movedica {
	animation: float 3s ease infinite;
	margin-bottom: 30px;
}

#areia-movedica-forte {
	animation: sand 1s ease infinite;
	margin-bottom: 30px;
}

/* --------- */
/* ANIMAÇÕES */

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-22px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes sand {
	0% {
		transform: translatex(0px);
	}
	50% {
		transform: translatex(-22px);
	}
	100% {
		transform: translatex(0px);
	}
}
